/* line 6, ../../sass/process-bar.scss */
*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* line 12, ../../sass/process-bar.scss */
.process-bars {
  margin: 100px 150px;
}

/* line 19, ../../sass/process-bar.scss */
.process-bar {
  margin: 40px 0;
  position: relative;
  width: auto;
  height: 20px;
  overflow: hidden;
  border-radius: 4px 4px;
}
/* line 26, ../../sass/process-bar.scss */
.process-bar:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: 4px 4px;
  top: 0;
  left: -100%;
  animation: simple-bar 4s infinite;
}
/* line 36, ../../sass/process-bar.scss */
.process-bar.bar--simple {
  border: 1px solid #22DB40;
}
/* line 38, ../../sass/process-bar.scss */
.process-bar.bar--simple:after {
  background: #22DB40;
  animation-duration: 5s;
}
/* line 43, ../../sass/process-bar.scss */
.process-bar.bar--snake {
  border: 1px solid teal;
}
/* line 45, ../../sass/process-bar.scss */
.process-bar.bar--snake:after {
  background-color: #fff;
  background-image: linear-gradient(45deg, #008000, rgba(0, 0, 0, 0) 11px, #000000);
  background-size: 11px 11px;
  animation-duration: 6s;
  animation-timing-function: linear;
}
/* line 53, ../../sass/process-bar.scss */
.process-bar.bar--xp {
  border: 1px solid gray;
}
/* line 55, ../../sass/process-bar.scss */
.process-bar.bar--xp:after {
  background-color: #3399FF;
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0) 80%, #ffffff 20%);
  background-size: 20px 20px;
  animation-duration: 8s;
  animation-timing-function: ease-in;
}
/* line 63, ../../sass/process-bar.scss */
.process-bar.bar--teal {
  border: 1px solid teal;
}
/* line 65, ../../sass/process-bar.scss */
.process-bar.bar--teal:after {
  background-image: repeating-linear-gradient(45deg, transparent, transparent 10px, #008080 25px, #008080 25px);
  animation-duration: 2s;
  animation-timing-function: linear;
}
/* line 71, ../../sass/process-bar.scss */
.process-bar.sharp, .process-bar.sharp:after {
  border-radius: 0 0;
}

@keyframes simple-bar {
  to {
    left: 0;
  }
}
